:root{


    --main_color : rgb(5, 14, 26)

    


}

*{

    margin: 0;
    padding: 0;

    overflow: auto;
}


html{
    font-size : 40px;
}


.flex-row-center{
    display: flex;
    justify-content: center;
    align-items: center;
}


.flex-col-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}







body{

    width: 100vw;
    height: 100vh;

    background-color: var(--main_color);
}


.parent{
    height: 100%;
    width: 100%;
    background-color: var(--main_color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* gap: 2px; */
}



.row1{
    flex: 0.1;
    /* background-color: white; */
    width: 100%;
}

.row2{
    flex: 0.8;
    /* background-color: white; */
    width: 100%;

}

.row3{
    flex: 0.1;

    /* background-color: white ; */
    width: 100%;

}



.row11{

    /* background-color: red; */
    height: 100%;
    flex: 0.2;

    text-transform: capitalize;
    color: white;
    font-weight: 800;
    font-family: "Exo 2" , 'roboto' ;

    /* font-size: 40px; */

    font-size: 1rem;



}



@media screen and (max-width : 500px) {

    .row11{
    font-size: 0.75rem;

    }

}


.row12{

    /* background-color: green; */
    height: 100%;
    flex: 0.8;


}



@media screen and (max-width : 1200px) {

    .row11{
        flex: 0.4;
    }
    
}

@media screen and (max-width : 700px) {

    .row11{
        flex: 0.6;
    }
    
}



@media screen and (max-width : 400px) {

    .row11{
        flex: 0.8;
    }
    
}



.row21{
    flex: 0.5;
    height: 100%;
    /* background-color: yellow; */
}

.row22{
    flex: 0.5;
    height: 100%;
    /* background-color: pink; */
}



@media screen and (max-width : 1000px) {

    .row21{
        flex: 0.7;
    }
    
}


@media screen and (max-width : 800px) {

    .row22{
        display: none;
    }

    .row21{
        flex: 1;
    }
    
}



.row3{
    gap: 2%;
}


.row31,.row32,.row33{
    height: 100%;
    /* background-color: red; */
    flex: 0.1;
    justify-content: center;
    align-items: center;
    display: flex;
}


.row3>div>i{
    font-size: 1rem;
    color: white;
    height: 100%;
    width: 100%;

    justify-content: center;
    display: flex;
    align-items: center;
}




@media screen and (max-width : 500px) {


.row3>div>i{
    font-size: 0.6rem;
}
}


@media screen and (max-width : 800px) {


.row31,.row32,.row33{

    flex: 0.15;
}


}

@media screen and (max-width : 500px) {


    .row31,.row32,.row33{
    
        flex: 0.25;
    }
    
    
    }



.row12{
    padding: 0% 5% ;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5%;
}

.row124{
    display: none;
}


.row121,.row122,.row123, .row124{
    /* background-color: red; */
    /* height: 100%; */
    /* flex: 0.1; */

    padding: 0% 2% ;

    justify-content: center;
    align-items: center;
    display: flex;

    font-size: 0.5rem;
    color: white;

    font-family: 'Exo 2' , 'roboto';
    font-weight: 600;

    transition: all .2s linear;

    text-transform: capitalize;
    text-decoration: none;

    
}

.row121:hover ,.row122:hover ,.row123:hover ,.row124:hover {

    color: aqua;
    cursor: pointer;
    transform: scale(1.2);
}




.row124{
    display: none;
}




@media screen and (max-width : 800px) {


.row121,.row122,.row123{

    display: none;
}

.row124{
    display: flex;
    justify-content: center;
    align-items: center;
}




}



.row21{
    gap: 2%;
}


.row211{
    /* background-color: pink; */
    width: 90%;
    text-transform: capitalize;
    font-weight: 800;
    font-family: 'Exo 2' , roboto;
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-start;
    padding-left: 5%;
    align-items: center;
    color: white;
}


@media screen and (max-width : 1500px) {

    .row211{
        font-size: 1rem;
    }
    
}



@media screen and (max-width : 500px) {

    .row211{
        font-size: 1rem;
    }
    
}


.row212{
    /* background-color: pink; */
    width: 90%;
    text-transform: capitalize;
    font-weight: 800;
    font-family: 'Exo 2' , roboto;
    font-size: 0.6rem;
    display: flex;
    justify-content: flex-start;
    padding-left: 5%;
    align-items: center;
    color: aqua;


}

.row213{
    /* background-color: pink; */
    width: 90%;
    color: white;
    font-size: 0.4rem;
    display: flex;
    justify-content: flex-start;
    padding-left: 5%;
    align-items: center;
    font-family: 'Exo 2' , roboto;
    font-style: 400;

    


}

.row214{
    /* background-color: pink; */
    width: 90%;
    display: flex;
    justify-content: flex-start;
    padding-left: 5%;
    align-items: center;
    gap: 5% ;

}

.row2141{
    background-color: rgb(15, 182, 182);
    
    
}



.row2141>a , .row2142>a{
    transition: all 0.2s linear;


}

.row2141>a:hover , .row2142>a:hover{
    /* transition: all 0.2s linear; */

    scale: 1.2;


}




.row2142{
    /* background-color: blue; */
    /* height: 90%; */
    border: 2px solid rgb(15, 182, 182);
    transition: all 0.2s linear;


    

   
}


.row214>div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1% 5%;
    border-radius: 15px;
}

.row214>div>a{
    font-size: 0.5rem;
    text-decoration: none;
    /* color: white; */
    font-family: 'Exo 2' , roboto;
    font-weight: 800;
}

.row2141>a{
    color: var(--main_color);
    /* color: red; */

}

.row2142>a{
    color: rgb(15, 182, 182);
    
    /* color: red; */

}


.row22{
    /* background-color: red; */
    justify-content: flex-start;
}


.row221{
    /* background-color: yellow; */
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    border: 5px solid rgb(15, 182, 182);
    overflow: hidden;

    transition: transform 0.5s linear;
    
}

.row221:hover{

    transform: rotateY(180deg);

}



.row221>img{

    height: 110%;
    width: 100%;
}


.row3>a>i{
    overflow: hidden;

}

.row3>a{
    text-decoration: none;
    color: white;

}

.row3>a>i{
    transition: all 0.2s linear;


}



.row3>a>i:hover{
    color: aqua;
    transform: scale(1.2);
}